<!DOCTYPE=html>
<html>
<head>
    <title>
        AAdhar pan
    </title>
</head>
<body>
    <!-- {{first_event}} to {{second_event}} -->
    {% for pan in pan_c %}
    <img src="{{url_for('static', filename=pan)}}" alt="{{hist}}">
    {% endfor %}

    {% for aadhar in aadhar_c %}
    <p>Personal Info: {{name}} </p>
    <img src="{{url_for('static', filename=aadhar)}}" alt="{{aadhar_c}}">

    {% endfor %}

    {% for face in face_f %}

    <img src="{{url_for('static', filename=face)}}" alt="{{face_f}}">

    {% endfor %}


    <!-- <p>{{name}}<p> -->
</body>
</html>
